@import "../../../../styles/_var.scss";

.table-filtering {

  @include responsivePadding();

  .header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 20px;
    background: #EEE;
  }
}
