@use '@angular/material' as mat;
@import "../../../../../styles/_var.scss";

.barchart-widget {

  .change {
    @include responsiveMarginHalf(left);
    margin-bottom: -4px;
    font-weight: bold;

    .percent {
      font-size: 14px;
    }

    .change-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      line-height: 18px;
      font-weight: bold;
      margin-left: 2px;
    }

    &.increase {
      color: mat.get-color-from-palette(mat.$light-green-palette, 600);
    }

    &.decrease {
      color: mat.get-color-from-palette(mat.$red-palette, 500);
    }
  }
}
